# .github/workflows/deploy.yml
name: Deploy to VPS

on:
  push:
    branches:
      - main # Или другая ветка, которую вы используете для деплоя

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup SSH Key
      uses: webfactory/ssh-agent@v0.8.0
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    # Замените user на имя вашего пользователя на VPS
    - name: Deploy to VPS
      run: |
        rsync -avz --delete -e "ssh -o StrictHostKeyChecking=no" . user@46.17.44.239:/home/user/okoloapp/html/
        ssh -o StrictHostKeyChecking=no user@46.17.44.239 "cd /home/user/okoloapp && sudo docker compose up -d"